<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/header') %>
    <div class="wrapper">
        <div class="main">
            <h1>Device List :</h1>
            <ul>
                <div class="row">
                    <% devicesList.forEach(function(device) { %>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <li value="<%= device.id %>" class="device-list">
                                <div class="row justify-content-center">
                                    <div class="col-sm-12"><%= device.hostname%></div>
                                    <div class="col-sm-12"><%= device.mac_address%></div>
                                    <div class="col-sm-12"><%= device.ip4_address%></div>
                                    <div class="col-sm-12"><%= device.ip6_address%></div>
                                    <div class="col-sm-12">
                                        <div  class="row justify-content-center">
                                            <div class="col-sm-6">
                                                <button class="wakeBtn" onclick="wakeDevice('<%= device.mac_address %>')">Wake Up</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button class="deleteBtn" onclick="deleteDevice('<%= device.id %>')">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    <% }); %>
                </div>
            </ul>
        </div>
    </div>
    <%- include ('../partials/footer') %>

    <script>
        function deleteDevice(id) {
            var baseUrl = getBaseUrl();
            var reqUrl = baseUrl + "/api/devices?id=" + id;
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", reqUrl, true);
            xhr.onload = function () {
                if (xhr.readyState == 4 && xhr.status == "200") {
                    window.location = baseUrl;
                }
            }
            xhr.send(null);
        }

        function wakeDevice(mac) {
            var baseUrl = getBaseUrl();
            var reqUrl = baseUrl + "/api/devices/wol?mac=" + mac;
            var xhr  = new XMLHttpRequest()
            xhr.open('GET', reqUrl, true)
            xhr.onload = function () {
                if (xhr.readyState == 4 && xhr.status == "200") {
                    alert("Successfully wake up Device with mac: " + mac);
                }
            }
            xhr.send(null);
        }

        function getBaseUrl() {
            var url = window.location.href;
            var arr = url.split("/");
            return arr[0] + "//" + arr[2];
        }
    </script>
</body>

</html>