<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body>
    <%- include ('../partials/header') %>
    <div class="wrapper">
        <div class="main">
            <h1>Device List :</h1>
            <ul>
                <% devicesList.forEach(function(device) { %>
                <li value="<%= device.mac_address %>" class="device-list">
                    <div class="row justify-content-md-center">
                        <div class="col-sm-12"><%= device.hostname%></div>
                        <div class="col-sm-12"><%= device.mac_address%></div>
                        <div class="col-sm-12"><%= device.ip4_address%></div>
                        <div class="col-sm-12"><%= device.ip6_address%></div>
                        <div class="col-sm-12">
                            <button class="wakeBtn" onclick="wakeDevice('<%= device.mac_address %>')">Wake</button>
                            <button class="deleteBtn" onclick="deleteDevice('<%= device.mac_address %>')">Del</button>
                        </div>
                    </div>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>

    <script>
        function deleteDevice(mac) {
            var baseUrl = getBaseUrl();
            var reqUrl = baseUrl + "/api/devices?mac=" + mac;
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", reqUrl, true);
            xhr.onload = function () {
                if (xhr.readyState == 4 && xhr.status == "200") {
                    window.location = baseUrl;
                }
            }
            xhr.send(null);
        }

        function wakeDevice(mac) {
            var baseUrl = getBaseUrl();
            var reqUrl = baseUrl + "/api/devices/wol?mac=" + mac;
            var xhr  = new XMLHttpRequest()
            xhr.open('GET', reqUrl, true)
            xhr.onload = function () {
                if (xhr.readyState == 4 && xhr.status == "200") {
                    
                } else {
 
                }
            }
            xhr.send(null);
        }

        function getBaseUrl() {
            var url = window.location.href;
            var arr = url.split("/");
            return arr[0] + "//" + arr[2];
        }
    </script>
</body>

</html>